<head>
  <title>My Todoapp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> <!-- Link to your tasks CSS -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Complete Tasks" %>

<h1>Complete Tasks</h1>

<div id="tasks" class="container">
  <% @tasks.each do |task| %>
    <div class="task card">
      <div class="card-body">
        <%= render task %>
        <p class="task-status">
          Status: 
          <% if task.status == 1 %>
            <span class="label label-success">Complete</span>
          <% else %>
            <span class="label label-danger">Incomplete</span>
          <% end %>
        </p>
        <p class="task-actions">
          <%= link_to "Show this task", task, class: "btn btn-info" %>
          <%= link_to 'Toggle Status', toggle_status_task_path(task), method: :get, data: { turbo: false }, class: "btn btn-primary" %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<div class="task-navigation">
  <%= link_to "New task", new_task_path, class: "btn btn-success" %>
  <%= link_to "Incomplete Task", incomplete_tasks_path, class: "btn btn-secondary" %>
  <%= link_to "Back to Index", tasks_path, class: "btn btn-secondary" %>
</div>
